.painting{
			position: absolute;
		color: gray;
		font-family:Roboto;
		text-shadow:0 0 1px black;
		border-width:thin;
		border-color:black;
		font-size:57%;
		padding:5px;
		font-weight:medium;
		}

		.userlog{
			width: 200px;
			padding:5px;
			padding-right:10px;
			border:hidden 1px black;
			position:relative;
			top:230px;
			left:107px;
		}
		.ukgres{
			position:absolute;
			top:30px;
			left:40px;
			color: white;
			text-shadow:1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0,0,0,.5);
			font-size: 80%;
		}
		.dopinfo{
			position:relative;
			top:75px;
			left:310px;
		}
		.dopinfo1{
			position: initial;
			top:75px;
			right:150px;
		}

		#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: cornflowerblue;
z-index: 30;}
 
.contpre small{font-size:25px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(prldr/pufff.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}